html {
    height: 100%;
}

/*
body {
    display: flex;
    align-items: center;
    height: 100%;
}
*/

a:link {
    text-decoration: none;
}

.layui-table {
    text-align: center;
}

.layui-table th {
    text-align: center;
}

.breadcrumb {
    padding: 10px;
    margin-bottom: 10px;
}

.layui-breadcrumb > * {
    font-size: 16px;
}

.layui-table-cell {
    text-align: center;
}

#save_add{
    display: block !important;
}

#save_edit{
    display: block !important;
}